extends layout

block content
  h1 
    a(href="/") TicTacToe 
    if roomid
      .roomid Room Id: #{roomid}
    img(onclick="darkMode()", src="images/moon-icon.webp")
  .result
      .text
      button(onclick='window.location.reload(false)') Play Again
  .box
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
      .cell
  script(src="/socket.io/socket.io.js")
  if roomid
    script(src="javascripts/multi.js")
  else
    script(src="javascripts/main.js")